<h3>タイムスケジュール</h3>
<!--タブ-->
<ul class="tab-group">
  <li class="tab is-active">Aコート</li>
  <li class="tab">Bコート</li>
  <li class="tab">Cコート</li>
</ul>

<!--タブを切り替えて表示するコンテンツ-->
<div class="panel-group">
  <div class="panel is-show">
    <table class="uk-table uk-table-small uk-table-divider">
      <thead>
        <tr>
          10:00- 受付開始<br>
          11:00- 開会式
          <th></th>
          <th>試合開始時間</th>
          <th>Aコート</th>
          <th>審判(A)</th>
        </tr>
      </thead>
      <% @results_Acourt = @results.where(court: 0).order(:id) %>
      <% match_num = 0 %>
      <% @results_Acourt.each do |result| %> 
        <tbody>
          <tr>
            <% home_teamA = @teams.find_by(id: result.home_team_id) %>
            <% away_teamA = @teams.find_by(id: result.away_team_id) %>
            <% match_num += 1 %>
            <td><%= match_num %></td>
            <td>11:25</td>
            <td><%= home_teamA.name %><br>vs<br><%= away_teamA.name %></td>
            <% if result.id == 1 %>
              <td><%=@referee_headquarters %></td>
            <% else %>
              <td><%=@referee_lose_team %></td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <div class="panel">
    <table class="uk-table uk-table-small uk-table-divider">
      <thead>
        <tr>
          10:00- 受付開始<br>
          11:00- 開会式
          <th></th>
          <th>試合開始時間</th>
          <th>Bコート</th>
          <th>審判(B)</th>
        </tr>
      </thead>
      <% @results_Bcourt = @results.where(court: 1).order(:id) %>
      <% match_num = 0 %>
      <% @results_Bcourt.each do |result| %>
        <tbody>
          <tr>
            <% home_teamB = @teams.find_by(id: result.home_team_id) %>
            <% away_teamB = @teams.find_by(id: result.away_team_id) %>
            <% match_num += 1 %>
            <td><%= match_num %></td>
            <td>11:25</td>
            <td><%= home_teamB.name %><br>vs<br><%= away_teamB.name %></td>
            <% if result.id == 2 %>
              <td><%=@referee_headquarters %></td>
            <% else %>
              <td><%=@referee_lose_team %></td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <div class="panel">
    <table class="uk-table uk-table-small uk-table-divider">
      <thead>
        <tr>
          10:00- 受付開始<br>
          11:00- 開会式
          <th></th>
          <th>試合開始時間</th>
          <th>Cコート</th>
          <th>審判(C)</th>
        </tr>
      </thead>
      <% @results_Ccourt = @results.where(court: 2).order(:id) %>
      <% match_num = 0 %>

      <% @results_Ccourt.each do |result| %>
        <tbody>
          <tr>
            <% home_teamC = @teams.find_by(id: result.home_team_id) %>
            <% away_teamC = @teams.find_by(id: result.away_team_id) %>
            <% match_num += 1 %>
            <td><%= match_num %></td>
            <td>11:25</td>
            <td><%= home_teamC.name %><br>vs<br><%= away_teamC.name %></td>
            <% if result.id == 3 %>
              <td><%=@referee_headquarters %></td>
            <% else %>
              <td><%=@referee_lose_team %></td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
